html {
  :lang(de),
  :lang(fr) {
    .banner {
      &__link {
        margin-bottom: rem-calc(120);
        @media (max-width: 413.98px) {
          margin-bottom: rem-calc(80);
        }
      }
      &__title {
        font-size: $font-size-lg-sm;
        @media (max-width: 413.98px) {
          font-size: $font-size-md-xl;
        }
      }
    }
    .banner-navigation {
      &__list {
        column-gap: rem-calc(10);
      }
    }
    .banner-navigation-item {
      &__link {
        font-size: $font-size-xs;
        @media (max-width: rem-calc(429.98)) {
          font-size: $font-size-xs-md;
        }
        @media (max-width: rem-calc(389.98)) {
          font-size: $font-size-xs-sm;
        }
      }
    }
    .banner-actions-offers-item-info {
      &__period,
      &__price {
        font-size: $font-size-sm-xl;
        @media (max-width: rem-calc(374.98)) {
          font-size: $font-size-xs-xl;
        }
      }
    }
  }
  :lang(es),
  :lang(pt) {
    .banner-navigation {
      &__list {
        @media (max-width: rem-calc(429.98)) {
          column-gap: rem-calc(20);
        }
      }
    }
    .banner-navigation-item {
      &__link {
        font-size: $font-size-xs;
      }
    }
    .banner-actions-offers-item-info {
      &__period,
      &__price {
        @media (max-width: rem-calc(429.98)) {
          font-size: $font-size-sm-xl;
        }
      }
    }
  }
  :lang(pt) {
    .banner {
      &__title {
        @media (max-width: rem-calc(389.98)) {
          margin-bottom: rem-calc(40);
          font-size: $font-size-lg-md;
        }
      }
    }
  }
}