html {
  :lang(de),
  :lang(fr) {
    .banner-navigation {
      &__list {
        column-gap: rem-calc(10);
      }
    }
    .banner-navigation-item {
      &__link {
        font-size: $font-size-xs;
        @media (max-width: 427.98px) {
          font-size: $font-size-xs-md;
        }
        @media (max-width: 389.98px) {
          font-size: $font-size-xs-sm;
        }
      }
    }
    .banner-actions-offers-item-info {
      &__period,
      &__price {
        font-size: $font-size-sm-xl;
        @media (max-width: 374.98px) {
          font-size: $font-size-xs-xl;
        }
      }
    }
  }
  :lang(fr) {
    .banner {
      &__link {
        @media (max-width: 413.98px) {
          margin-top: rem-calc(46);
        }
        @media (max-width: 389.98px) {
          margin-top: rem-calc(4);
          margin-bottom: rem-calc(84);
        }
      }
      &__title {
        @media (max-width: 413.98px) {
          font-size: $font-size-lg-md;
        }
        @media (max-width: 389.98px) {
          font-size: $font-size-lg-m;
        }
      }
    }
  }
  :lang(de) {
    .banner {
      &__link {
        margin-bottom: rem-calc(160);
        @media (max-width: 429.98px) {
          margin-bottom: rem-calc(150);
        }
        @media (max-width: 427.98px) {
          margin-bottom: rem-calc(74);
        }
        @media (max-width: 413.98px) {
          margin-bottom: rem-calc(120);
        }
        @media (max-width: 389.98px) {
          margin-bottom: rem-calc(60);
        }
      }
      &__title {
        font-size: $font-size-lg-md;
        @media (max-width: 427.98px) {
          font-size: $font-size-lg-xs;
          @media (max-width: 413.98px) {
            font-size: $font-size-lg-md;
          }
          @media (max-width: 389.98px) {
            font-size: $font-size-lg-sm;
          }
        }
      }
    }
  }
  :lang(es),
  :lang(pt) {
    .banner-navigation {
      &__list {
        @media (max-width: 427.98px) {
          column-gap: rem-calc(20);
        }
      }
    }
    .banner-navigation-item {
      &__link {
        @media (max-width: 427.98px) {
          font-size: $font-size-xs;
        }
      }
    }
    .banner-actions-offers-item-info {
      &__period,
      &__price {
        @media (max-width: 427.98px) {
          font-size: $font-size-md-xs;
        }
      }
    }
  }
  :lang(pt) {
    .banner {
      &__link {
        @media (max-width: 389.98px) {
          margin-top: rem-calc(11);
        }
      }
      &__title {
        @media (max-width: 389.98px) {
          font-size: $font-size-lg-md;
        }
      }
    }
  }
}