@mixin list-unstyled() {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin bg-image-base-style() {
  background-size: 100%;
  background-repeat: no-repeat;
}

@mixin bg-image-path($directory, $name, $format, $ratio1dot5: false) {
  background-image: url('/#{$directory}/#{$name}.#{$format}');
  @if $ratio1dot5 {
    @media (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('/#{$directory}/#{$name}@1.5x.#{$format}');
    }
  }
  @media (-webkit-min-device-pixel-ratio: 2) {
    background-image: url('/#{$directory}/#{$name}@2x.#{$format}');
  }
  @media (-webkit-min-device-pixel-ratio: 3) {
    background-image: url('/#{$directory}/#{$name}@3x.#{$format}');
  }
}
