$white-color: #FFFFFF;
$black-color: #070B33;


$font-weight-base:     400;
$font-weight-semibold: 600;
$font-weight-bold:     700;
$font-weight-heavy:    860;

$font-size-base:  1rem;            // 16px
$font-size-xs-sm: 1rem * 0.59375;  // 9.5px
$font-size-xs:    1rem * 0.6875;   // 11px
$font-size-sm:    1rem * 0.78125;  // 12.5px
$font-size-sm-xl: 1rem * 0.8125;   // 13px
$font-size-md:    1rem * 1.25;     // 20px
$font-size-lg:    1rem * 2.625;    // 42px