<main class="banner">
  <div class="container">
    <a href="#" class="banner__link"></a>
    <h1 i18n="Get Unlimited <br>Access" class="banner__title"></h1>
    {{> banner/features/features}}
    {{> banner/actions/actions}}
    {{> banner/navigation/navigation}}
  </div>
</main>