.banner-navigation-item {
  text-align: center;
  &__link {
    font-size: $font-size-sm;
    line-height: unitless-lh(12.5, 14.92);
    letter-spacing: rem-calc(0.58);
    color: rgba($white-color, 0.5);
    text-decoration: none;
    white-space: nowrap;
    word-break: break-word;
  }
}