<li class="banner-features-item banner-features-item--{{modifier}}">
  <p i18n="{{i18n}}" class="banner-features-item__text">{{i18n}}</p>
</li>

{{!-- modifier="unlimited | exclusive | magic" --> set necessary feature item image --}}