.banner-actions-offers-item-info {
  display: grid;
  grid-template-columns: 67% 33%;
  grid-column-gap: rem-calc(20);
  align-items: center;
  &__period {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem-calc(2);
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
    color: $white-color;
    white-space: nowrap;
    word-break: break-word;
    span {
      &:first-child {
        width: 100%;
      }
      &:not(:first-child) {
        font-weight: $font-weight-base;
        color: rgba($white-color, 0.7);
      }
    }
  }
  &__price {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-base;
    color: rgba($white-color, 0.7);
    word-break: break-word;
  }
}
