.banner-actions {
  display: grid;
  grid-row-gap: rem-calc(16);
  margin-bottom: rem-calc(44);
  @media (max-width: rem-calc(389.98)) {
    grid-row-gap: rem-calc(8);
    margin-bottom: rem-calc(20);
  }
  &__link {
    display: block;
    width: calc(100% - rem-calc(32));
    height: calc(100% - rem-calc(32));
    padding: rem-calc(16);
    font-size: $font-size-md;
    font-weight: $font-weight-semibold;
    line-height: unitless-lh(20, 24);
    color: $black-color;
    background-color: $white-color;
    border-radius: rem-calc(32);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    word-break: break-word;
  }
}

@import "./offers/offers";
