<nav class="banner-navigation">
  <ul class="banner-navigation__list">
    {{> banner/navigation/item/item i18n="Terms of Use"}}
    {{> banner/navigation/item/item i18n="Privacy Policy"}}
    {{> banner/navigation/item/item i18n="Restore"}}
  </ul>
</nav>