<section class="banner-features">
  <ul class="banner-features__list">
    {{> banner/features/item/item i18n="Unlimited Art <br>Creation" modifier="unlimited"}}
    {{> banner/features/item/item i18n="Exclusive <br>Styles" modifier="exclusive"}}
    {{> banner/features/item/item i18n="Magic Avatars <br>With 20% Off" modifier="magic"}}
  </ul>
</section>