.banner-features {
  margin-bottom: rem-calc(60);
  @media (max-width: 427.98px) {
    margin-bottom: rem-calc(49.7);
  }
  @media (max-width: 389.98px) {
    margin-bottom: rem-calc(40);
    @media (min-height: 668px) {
      margin-bottom: rem-calc(64);
    }
  }
  &__list {
    @include list-unstyled();
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: rem-calc(14);
  }
}

@import "./item/item";