.banner-features {
  margin-bottom: rem-calc(50);
  @media (max-width: rem-calc(413.98)) {
    margin-bottom: rem-calc(40);
  }
  &__list {
    @include list-unstyled();
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: rem-calc(14);
  }
}

@import "./item/item";